<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Klassenbearbeitung</title>
</head>
<body>
<h1>Klassenbearbeitung</h1>

<form action="#" th:action="@{/sclasses/update/{classID}(classID=${sclass.classID})}" th:object="${sclass}" method="post">
  <label for="name">Klassenname:</label>
  <input type="text" id="name" th:field="*{name}" placeholder="Enter class name" required />
  <br />

  <label for="assignDate">Themenzuweisung:</label>
  <input type="date" id="assignDate" th:field="*{assignDate}" th:value="*{assignDate}" required />
  <br />

  <button type="submit">Änderung speichern</button>
</form>

<br />
<a th:href="@{/sclasses}">Klassenliste</a>
</body>
</html>
