<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="de">
<head>
    <meta charset="UTF-8">
    <title>Hauptseite</title>
</head>
<body>
<h1>Learning Journal</h1>

<h2><a th:href="@{/add-entry}">Journal Einträge Verwaltung</a></h2>
<h2><a th:href="@{/addUser}">Account Verwaltung</a></h2>
<h2><a th:href="@{/sclasses}">Klassenverwaltung</a></h2>
<h2><a th:href="@{/topics}">Themenverwaltung</a></h2>
<h2><a th:href="@{/userListe}">Benutzer Liste</a></h2>
<h2><a th:href="@{/updateUser}">Profil bearbeiten</a></h2>

</body>
</html>
