<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Themenliste</title>
</head>
<body>
<h1>Themenliste</h1>
<table border="1">
  <thead>
  <tr>
    <th>Themen ID</th>
    <th>Name</th>
    <th>Klassen ID</th>
    <th>Aktionen</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="topic : ${topics}">
    <td th:text="${topic.topicID}">Themen ID</td>
    <td th:text="${topic.name}">Name</td>
    <td th:text="${topic.classID}">Klassen ID</td>
    <td>
      <a th:href="@{/topics/edit/{topicID}(topicID=${topic.topicID})}">bearbeiten</a> |
      <a th:href="@{/topics/delete/{topicID}(topicID=${topic.topicID})}">löschen</a>
    </td>
  </tr>
  </tbody>
</table>

<br />
<a th:href="@{/topics/new}">neues Thema erstellen</a>
</body>
</html>
